

.title{
    width: 600px;
    height: 50px;
    color: #000;
font-family: Inter;
font-size: 70px;
font-style: normal;
font-weight: 800;
line-height: 115%; /* 43.7px */
letter-spacing: -0.722px;
 margin-top: 700px;
margin-left: 650px;   

}
.content{
    width: 600px;
    height: 700px;
    color: rgba(0, 0, 0, 0.80);
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px; /* 171.429% */
    letter-spacing: -0.084px;
    margin-top: 140px;
    margin-left: 650px;

}
 img{
    position: absolute;
    top:11px;
    left: 100px;
    width: 500px;
    height: 600px;
 }




   

